:root {
    --DarkRed: #AA0000;
    --Red: #FF5555;
    --Gold: #FFAA00;
    --Yellow: #FFFF55;
    --DarkGreen: #00AA00;
    --Green: #55FF55;
    --Aqua: #55FFFF;
    --DarkAqua: #00AAAA;
    --DarkBlue: #0000AA;
    --Blue: #5555FF;
    --LightPurple: #FF55FF;
    --DarkPurple: #AA00AA;
    --White: #FFFFFF;
    --Gray: #AAAAAA;
    --DarkGray: #555555;
    --Black: #000000;
}

/* ---- Landscape Devices ---- */

@font-face {
    font-family: MinecraftRegular;
    src: url("assets/minecraft-font/MinecraftRegular.otf");
}

@font-face {
    font-family: MinecraftItalic;
    src: url("assets/minecraft-font/MinecraftItalic.otf");
}

* {
    font-family: MinecraftRegular;
    user-select: none;
}

/* --- Scrollbar --- */

::-webkit-scrollbar {
    width: 8vmin;
    max-width: 25px;
    height: 8vmin;
    max-height: 25px;
}

::-webkit-scrollbar-track {
    border-top: 2px solid rgb(51, 50, 50);
    border-right: 2px solid rgb(255, 254, 254);
    border-bottom: 2px solid rgb(254, 255, 255);
    border-left: 2px solid rgb(57, 56, 56);
    background-color: rgb(138, 139, 139);
}

::-webkit-scrollbar-thumb {
    border-top: 2px solid rgb(254, 255, 255);
    border-right: 2px solid rgb(57, 56, 56);
    border-bottom: 2px solid rgb(51, 50, 50);
    border-left: 2px solid rgb(255, 254, 254);
    background-color: #C6C6C6;
    background-image: url("./assets/imgs/scroller.png");
    background-size: contain;
}

@media (pointer:coarse) {
    ::-webkit-scrollbar {
        display: none;
    }
}

html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--White);
    background-color: rgb(194, 195, 195);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authForm{
    background-color: rgb(38, 38, 38);
    padding: 20px;
    gap: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.authForm input {
    background-color: rgb(19, 19, 19);
    color: var(--White);
    border: solid 3px transparent;
    padding: 5px;
}

.authForm input:focus {
    border: rgb(81, 81, 81) solid 3px;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: rgb(59, 132, 39);
    border-top: 1vmin solid rgb(101, 157, 80);
    border-right: 1vmin solid rgb(28, 63, 19);
    border-bottom: 1vmin solid rgb(22, 79, 14);
    border-left: 1vmin solid rgb(66, 115, 52);
    color: rgb(219, 219, 219);
}

button:hover {
    background-color: rgb(53, 113, 36);
    border-top: 1vmin solid rgb(93, 144, 74);
    border-right: 1vmin solid rgb(25, 56, 17);
    border-bottom: 1vmin solid rgb(19, 71, 13);
    border-left: 1vmin solid rgb(54, 95, 43);
}

.container {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    background-color: rgb(56, 56, 56);
    display: grid;
    grid-template-rows: min-content auto;
}

#navbar > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(38, 38, 38);
    list-style: none;
    margin: 0;
}

#navbar > ul > li > a{
    color: var(--Green);
    text-decoration: none;
}

.container > div{
    padding: 20px;
    overflow: auto;
}

.container table, .form{
    border-collapse: collapse;
    border: black 3px solid;
    margin: 10px auto;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    width: fit-content;
}

.form, .form > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form > div > div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container table th, .container table td{
    border: black 3px solid;
    padding: 10px;
    text-align: center;
    width: min-content;
}

.actions{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.deleteButton {
    background-color: rgb(170, 0, 0); /* Dark Red */
    border-top: 1vmin solid rgb(204, 51, 51); /* Lighter Red */
    border-right: 1vmin solid rgb(102, 0, 0); /* Darker Red */
    border-bottom: 1vmin solid rgb(77, 0, 0); /* Even Darker Red */
    border-left: 1vmin solid rgb(153, 0, 0); /* Medium Red */
    color: rgb(255, 219, 219); /* Light Pinkish White */
}

.deleteButton:hover {
    background-color: rgb(153, 0, 0); /* Slightly Darker Red */
    border-top: 1vmin solid rgb(176, 41, 41); /* Lighter Red */
    border-right: 1vmin solid rgb(89, 4, 4); /* Darker Red */
    border-bottom: 1vmin solid rgb(57, 2, 2); /* Even Darker Red */
    border-left: 1vmin solid rgb(143, 5, 5); /* Medium Red */
}

.cancelButton {
    background-color: rgb(255, 204, 0); /* Yellow */
    border-top: 1vmin solid rgb(255, 229, 128); /* Lighter Yellow */
    border-right: 1vmin solid rgb(204, 153, 0); /* Darker Yellow */
    border-bottom: 1vmin solid rgb(153, 102, 0); /* Even Darker Yellow */
    border-left: 1vmin solid rgb(255, 187, 0); /* Medium Yellow */
    color: rgb(51, 51, 51); /* Dark Gray */
}

.cancelButton:hover {
    background-color: rgb(255, 187, 0); /* Slightly Darker Yellow */
    border-top: 1vmin solid rgb(237, 212, 112); /* Lighter Yellow */
    border-right: 1vmin solid rgb(177, 134, 6); /* Darker Yellow */
    border-bottom: 1vmin solid rgb(135, 91, 4); /* Even Darker Yellow */
    border-left: 1vmin solid rgb(223, 164, 2); /* Medium Yellow */
}

#userDetails{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(38, 38, 38);
    padding: 20px;
    border: black 3px solid;
    border-radius: 20px;
}

#userDetails > div{
    width: 70dvw;
    height: 70dvh;
    overflow: auto;
}

#statistics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "basicStats gameSolveRateStats"
    "gamesByGamemodeStats gamesByGamemodeStats"
    "registrationStats registrationStats";
}

#basicStats{
    grid-area: basicStats;
}

#solvedVsUnsolved{
    grid-area: gameSolveRateStats;
}

#playedGamemodes{
    grid-area: gamesByGamemodeStats;
}

#registrations{
    grid-area: registrationStats;
}